.center-content
{
	text-align: center;
}

.grid-caption
{
	display: block;
	font-size: 150%;
	text-align: center;
	padding: 6px 0;
}

.button-caption
{
	padding: 0 12px;
	line-height: 1;
}

.with-margin
{
	padding: 12px;
}

.with-margin-big
{
	padding: 48px;
}

.left-padding
{
	padding-left: 12px;
}